}

  body {
    padding-top: 56px;
    }
   
  #map { 
    min-width: 600px;
    min-height: 400px;
    }
  #footer
    {
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }

 

@media (min-width: 576px) { 
  .container {
    max-width: 540px;
    }
  }

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    }
  }

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    }
  }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    }
  }

@media (min-width: 576px) {
  .container{
    max-width: 540px;
    }
  }

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    }
  }

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    }
  }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    }
  }
