

    body {
        padding: 0;
        margin: 0;
        background: #f2f6e9;
    }
    html, body, #map {
        height: 100%;
        width: 100vw;
    }
    #map {
			width: 600px;
      height: 400px;
    }
    .navbar {
      background:#6ab446;
    }
    .navbar-brand {
      color: #fff;
      cursor: pointer;
    }

@media (min-width: 576px) { 
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
