<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- bootstrap -->
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="generator" content="Jekyll v4.0.1">
    <title>GAZETTEER</title>
   <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- my css -->
    <link rel="stylesheet" href="stylesheets/style.css"/>
    
  </head>

  <body class="text-center">
      <header>
        <h1>GAZETTEER</h1>
        <p>Welcome to the Gazetteer</p>
      </header>

    <main class="form">		
      <div>
        <label for="address">Find a place:</label>
            <input id="address" name="address" class="form-control" required>
          <button type="button" class="btn-success">Search</button>
          <br/>
      </div>

      <form>   
        <label for="country">Country:</label>
            <input id="country" class="form-control" type="text" />
            <i class="ae flag"></i>
          <br/>
        <label for="population">Population:</label>
          <input id="population" class="form-control" type="text" />
          <br/>
        <label for="capital">Capital:</label>
            <input id="capital" class="form-control" type="text" />
          <br/>
        <label for="weather">Weather:</label>
            <input id="weather" class="form-control" type="text" />
          <br/>
        <label for="currency">Currency:</label>
            <input id="currency" class="form-control" type="text" />
          <br/>
        </form>    

        <div id="map"></div>

    </main>
      <footer>  
        <p class="mt-5 mb-3 text-muted">&copy; Tam 2020</p> 
        </footer>
    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- leaftet js: -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- my script -->
    <script src="script.js"></script>
    
  </body>
</html>
