<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 
      
    <title>GAZETTEER</title>
   <!-- bootstrap -->
   <link href="external/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- sidebar -->
    <link rel="stylesheet" href="external/sidebar/L.Control.Sidebar.css" />
    <!-- my css -->
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>

  <body>  
  {# preloader #}
    <div class="sk-cube-wrapper">
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>  
    </div>
{# container div #}
    <div class = "container">
      {# nav bar #}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">GAZETTEER</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
          <form class="form-inline my-2 my-lg-0" >
            <select id="address" class="form-control mr-sm-2" id="find-address" aria-label="Search">
              <option value="" disabled selected>Please select a country</option>
                {% for country in countries %}
              <option value="{{country|e}}">{{country|e}}</option>
                {% endfor %} #}
            </select>
          </form>
      </nav>
    {# side bar :  #}   
      <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
        <div id="sidebar" class="sidebar">
          <button id='close' type="button" class="close" aria-label="Close" onclick="closeSideBar()">
            <span aria-hidden="true"> &times; </span>
          </button> 
          <img id="flag"/>  
          <h3 id="country"></h3>
            <p>Population: <span id="population"></span> </p>
            <p>Language(s): <span id="languages"></span> </p>
            <p>Continent: <span id="continent"></span> </p>
            <p>Subregion: <span id="subregion"></span> </p>
            <p>Find out more at: <a id="wiki">WIKIPEDIA</a> </p>
            <h4>Capital: </h4>
              <p>Name: <span id="capital"></span> </p>
              <p>Longitude: <span id="longitude"></span> </p>
              <p>Latitude: <span id="latitude"></span> </p> 
            <h4>Weather:  <span id="weather"></span> </h4>
            <h6>Weather Forecast:  <span id="forecast"></span> </h6>
                {# <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
 #}
            <h4>Currency: </h4>
              <p>Name: <span id="currency"></span> </p>
              <p>Code: <span id="currency-code"></span> </p>
              <p>Symbol: <span id="currency-symbol"></span> </p>
              <p>Exchange rate: $ <span id="exchange_rate"></span> </p>
            <h4>Driving:</h4>
              <p>Drive on: <span id="drive-on"></span> </p>
              <p>Speed in: <span id="speed-in"></span> </p>
          </div>       
        </div>  
  {# container div end #}
  </div>
   
    {# map :  #}
    <div id="map"></div>


  <footer id="footer" class="py-5 bg-dark">
    <div class="container-fluid">
      <p class="m-0 text-center text-white">Copyright &copy; Tam's Website 2020</p>
    </div> 
  </footer>

    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- leaftet js: -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- sidebar -->
    <script src="external/sidebar/L.Control.Sidebar.js"></script>
    <!-- my script -->
    <script src="script.js"></script>
  </body>
</html>
